<div id="background" color="primary" [ngStyle]="{'background-image': 'url(assets/images/3.png)'}">
  <h1 class="mat-display-3 text-outline" style="text-align: center; padding-top: 15px; margin-bottom: 10px !important;">More Photos</h1>
  <div class="sticky-container">
    <div class="button-container" >
      <button mat-fab routerLink="/summary" color="accent">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>

    <section id = "photos">
      <div class = "container" *ngFor="let image of images2">
        <img src = "{{image.urls.raw}}"  alt = "{{image.description}}" width=50% height=auto class="image">

        <div class="overlay"><a href = "{{image.urls.raw}}" target="_blank"> Photo</a> by <a href = "{{image.user.links.html}}" target="_blank"> {{image.user.name}}</a> from <a href = "https://unsplash.com/" target="_blank"> Unsplash </a></div>
        </div>
    </section>
  <p style="text-align: center; font-size:160%; background-color: white" class="subheading"><a href = "https://unsplash.com/s/photos/{{name}}" target="_blank">Even More Photos</a></p>
</div>
