$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}


#photos {
  /* Prevent vertical gaps */
  line-height: 5px;

  -webkit-column-count: 1;
  -webkit-column-gap:   1%;
  -moz-column-count:    1;
  -moz-column-gap:      1%;
  column-count:         1;
  column-gap:           1%;
  @include lg {
    line-height: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap:   1%;
    -moz-column-count:    3;
    -moz-column-gap:      1%;
    column-count:         3;
    column-gap:           1%;


  }
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  border: 5px solid transparent;
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f0f0;
  background-attachment: fixed;
}


/*
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  width: 80vw;
}

.sub-expansion-container {
  margin-bottom: 0px !important;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}
*/
* {box-sizing: border-box}

/** Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 1500px;
}

///* Make the image to responsive */
.image {
  display: block;
  width: 1500px;
}

.overlay {
  position: absolute;
  bottom: 5px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 1); /* Black see-through */
  color: black;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 10px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 0.75;
}
.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  width: 80vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

//!* Create two equal columns that sits next to each other *!
.column {
  flex: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.sub-expansion-container {
  margin-bottom: 0px !important;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}


//!* creates link without text-decoration *!
//.website:link {
//  text-decoration: none;
//  color: black;
//}
//.website:hover{
//  text-decoration: underline;
//  color:black;
//}
.centered-and-cropped { object-fit: cover }
//
//.imgContainer {
//  overflow: hidden;
//  width: 30%;
//  height: 30%;
//}
//.imgContainer img {
//  width: 30%;
//  height: auto;
//}

.cover {
  object-fit: cover;
}
//
//.img-cropped {
//  object-fit: cover;
//  object-position: center center;
//  width: 500px;
//  height: 500px;
//}

$buttons-height: 24px;
$sticky-width: 40px;
$padding: 10px;

.sticky-container {
  background-color: transparent;;
  padding-top: $padding;
  padding-left: 0px;
  padding-bottom: $padding;
  padding-right: $padding;
  position: fixed;
  top: 50%;
  left: $sticky-width;
  width: 0px;
  height: auto;
  z-index: 9999;
  margin-top: -$buttons-height;
  text-align: center;


  a {
    padding:0 !important;
    display: block;
    text-align: left;
    height: $buttons-height;
    width: $sticky-width;
    padding: 8px 16px;
    color: white !important;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    button {
      max-height: 100%;
      color: white !important;
    }


  }
}

@media only screen and (max-width: 600px) {
  .sticky-container {
    background-color: transparent;;
    padding-top: $padding;
    padding-left: 0px;
    padding-bottom: $padding;
    padding-right: $padding;
    position: fixed;
    top: 50%;
    left: -$sticky-width;
    width: 0px;
    height: auto;
    z-index: 9999;
    margin-top: -$buttons-height;
    text-align: center;


    a {
      padding:0 !important;
      display: block;
      text-align: left;
      height: $buttons-height;
      width: $sticky-width;
      padding: 8px 16px;
      color: white !important;
      font-family: Arial, sans-serif;
      font-size: 17px;
      font-weight: bold;
      text-decoration: none;

      button {
        max-height: 100%;
        color: white !important;
        text-align: right;
      }
    }
  }
}
