#photos {
  /* Prevent vertical gaps */
  line-height: 0px;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  border: 15px solid #fff;
}


/*
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}


#background {
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  width: 80vw;
}

.sub-expansion-container {
  margin-bottom: 0px !important;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}
*/
* {box-sizing: border-box}

/** Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

///* Make the image to responsive */
.image {
  display: block;
  width: 500px;
}

.overlay {
  position: absolute;
  bottom: 5px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 1); /* Black see-through */
  color: black;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 10px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 0.75;
}
.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  width: 80vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

//!* Create two equal columns that sits next to each other *!
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.sub-expansion-container {
  margin-bottom: 0px !important;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}


//!* creates link without text-decoration *!
.website:link {
  text-decoration: none;
  color: black;
}
.website:hover{
  text-decoration: underline;
  color:black;
}
.centered-and-cropped { object-fit: cover }

.imgContainer {
  overflow: hidden;
  width: 500px;
  height: 500px;
}
.imgContainer img {
  width: 500px;
  height: auto;
}

.cover {
  object-fit: cover;
}

.img-cropped {
  object-fit: cover;
  object-position: center center;
  width: 500px;
  height: 500px;
}

