<div class="sticky-container">
  <div class="button-container">
    <button mat-fab routerLink="/summary" color="primary">Back</button>
  </div>
</div>
<div id="map" style="width: 100%; height: 530px;"></div>
<mat-spinner style="z-index: 1000;" *ngIf="!crimeDone"></mat-spinner>
<div *ngIf="crimeDone" fxLayout="row" fxLayoutGap="50px">
    <div *ngFor="let ori of ORIs">
        <mat-card class="mobile-handler">
            <mat-card-title>
                {{ORIData[ori].agency_name}}
            </mat-card-title>
            <mat-card-content>
                <p>2018:<br />
                        Violent Crime: {{this.ORICrimeData[ori][2018]['violent-crime']['actual']}}<br />
                        Larceny: {{this.ORICrimeData[ori][2018]['larceny']['actual']}}<br />
                    2019:<br />
                        Violent Crime: {{this.ORICrimeData[ori][2019]['violent-crime']['actual']}}<br />
                        Larceny: {{this.ORICrimeData[ori][2019]['larceny']['actual']}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
