<div id="background" [ngStyle]="{'background-image': 'url(assets/images/8.jpg)'}">
  <div class="sticky-container">
    <div class="button-container" >
      <button mat-fab routerLink="/summary" color="accent">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <h1 id="title" class="mat-display-3 text-outline" style="text-align: center; padding-top: 15px; margin-bottom: 10px !important;">Crime
    in {{county}}
  </h1>
  <div id="map">
      <mat-spinner style="z-index: 9999;" *ngIf="!crimeDone"></mat-spinner>
  </div>
</div>
<!--<div *ngIf="crimeDone" fxLayout="row" fxLayoutGap="50px">
    <div *ngFor="let ori of ORIs">
        <mat-card class="mobile-handler">
            <mat-card-title>
                {{ORIData[ori].agency_name}}
            </mat-card-title>
            <mat-card-content>
                <p>2018:<br />
                        Violent Crime: {{this.ORICrimeData[ori][2018]['violent-crime']['actual']}}<br />
                        Larceny: {{this.ORICrimeData[ori][2018]['larceny']['actual']}}<br />
                    2019:<br />
                        Violent Crime: {{this.ORICrimeData[ori][2019]['violent-crime']['actual']}}<br />
                        Larceny: {{this.ORICrimeData[ori][2019]['larceny']['actual']}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>-->
