<!--<div id="background" color="primary" [ngStyle]="{'background-image': 'url(' + imageName + ')'}">-->
<!--  <h1 class="mat-display-3" style="text-align: center; padding-top: 15px; margin-bottom: 10px !important;">More Music</h1>-->
<!--  <div fxLayout="row" fxLayoutAlign="center stretch">-->
<!--    <div class = "row">-->
<!--        <div class="container" *ngFor="let song of music2">-->
<!--          <div class="column">-->
<!--            <p><a href = "{{song.artistViewUrl}}">{{song.artistName}}</a></p>-->
<!--          </div>-->

<!--            &lt;!&ndash; <p>{{song.trackViewUrl}}</p> &ndash;&gt;-->
<!--          <div class="column">-->
<!--            <p><a href = "{{song.collectionViewUrl}}">{{song.trackCensoredName}}</a></p>-->
<!--          </div>-->
<!--          <div class="column">-->
<!--           <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="250" style="width:100%;max-width:360px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" [src]='song.trackViewUrl | safe'></iframe>-->
<!--            <p>-->
<!--            </p>-->
<!--         </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <p style="text-align: center;" class="subheading-2"><a href = "https://music.apple.com/us/search?term={{name}}" >Even More Music</a> </p>-->
<!--</div>-->
<div id="background" color="primary" [ngStyle]="{'background-image': 'url(assets/images/4.jpg)'}">
<div fxLayout="row" fxLayoutAlign="space-evenly center" >
  <div class="sticky-container">
    <div class="button-container" >
      <button mat-fab routerLink="/summary" color="accent">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <mat-card class="card-container">
    <mat-card-title>More Music</mat-card-title>
    <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
          <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;"  *ngFor="let song of music2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{song.trackCensoredName}}
              </mat-panel-title>
              <div *ngIf="!isMobileLayout">
                <mat-panel-description>
                  Click here to view more details
                </mat-panel-description>
              </div>
            </mat-expansion-panel-header>
            <div *ngIf="!isMobileLayout">
              <div class="sub-expansion-container" fxLayout="row" fxLayoutAlign="space-between">
                <p><a href = "{{song.artistViewUrl}}" target="_blank">{{song.artistName}}</a></p>
                <!-- <p>{{song.trackViewUrl}}</p> -->
                <p><a href = "{{song.collectionViewUrl}}" target="_blank">{{song.trackCensoredName}}</a></p>
                <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="250" style="width:100%;max-width:360px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" [src]='song.trackViewUrl | safe'></iframe>
              </div>
            </div>
            <div *ngIf="isMobileLayout">
              <div class="row" fxLayout="row" fxLayoutAlign="space-between">
                <p><a href = "{{song.artistViewUrl}}" target="_blank">{{song.artistName}}</a></p>
                <!-- <p>{{song.trackViewUrl}}</p> -->
                <p><a href = "{{song.collectionViewUrl}}" target="_blank">{{song.trackCensoredName}}</a></p>
                <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="250" style="width:100%;max-width:360px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" [src]='song.trackViewUrl | safe'></iframe>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a href = "https://music.apple.com/us/search?term={{name}}" color="primary" target="_blank">Even More Music</a>
    </mat-card-actions>
  </mat-card>
</div>
</div>
