<div id="theme">
<mat-toolbar class="nav" id="animate-test">


  <img alt="logo" src="assets/images/logo.png" style="cursor: pointer" height="120px" routerLink="/">


  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/aboutUs">About</button>
      <button mat-button routerLink="/contactUs">Contact Us</button>
      <button mat-button (click)="changeTheme()">Dark Mode</button>
      <div fxLayout="column" style="font-size: 14px;">
        <mat-slide-toggle color="primary" (click)="toggleColorBlind()">Color Blind Mode</mat-slide-toggle>
        <mat-slide-toggle color="primary" (click)="toggleLargeFont()">Dyslexia Mode</mat-slide-toggle>
      </div>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-button routerLink="/aboutUs">About</button>
  <button mat-button routerLink="/contactUs">Contact Us</button>
  <button mat-button routerLink="/FAQ">FAQ</button>
</mat-menu>

<router-outlet></router-outlet>
</div>
