<mat-toolbar class="nav" id="animate-test">

  
  <img alt="logo" src="assets/images/logo.png" height="120px">
  

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/summary">About</button>
      <button mat-button routerLink="/Contact">Contact Us</button>
      <button mat-button routerLink="/FAQ">FAQ</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/products">Products</button>
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
</mat-menu>

<router-outlet></router-outlet>