<div id="background" [ngStyle]="{'background-image': 'url(' + imageName + ')'}" class="page-container theme-alternate">
    <div class="form-container">
        <div class="mobile-handler">
            <form [formGroup]="searchParams">
                <div fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="start center" 
                fxLayoutGap="10px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0px">
                    <mat-form-field appearance="fill" fxFlex="35" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-label>From</mat-label>
                        <input matInput style="color: #fafafa;" type="text" formControlName="from">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" fxFlex="35" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-label>To</mat-label>
                        <input matInput style="color: #fafafa;" type="text" formControlName="to" required>
                    </mat-form-field>
                    <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field class="date-input" appearance="fill" fxFlexFill>
                            <mat-label>Start Date</mat-label>
                            <input matInput style="color: #fafafa;" type="date" formControlName="start_date">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="date-input" appearance="fill" fxFlexFill>
                            <mat-label>End Date</mat-label>
                            <input matInput style="color: #fafafa;" type="date" formControlName="end_date">
                        </mat-form-field>
                    </div>
                </div>
            </form> 
        </div>
        <button class="submit" mat-stroked-button (click)="submit()" [disabled]="!searchParams.valid">Search</button>
    </div>
</div>