$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  position: absolute;
  top:0;
  left:0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-handler {
  display: inline-block;
  width: 95vw;

  @include sm {

    width: 80vw;
  }
}

.date-input {
  min-width: 150px !important;
}

.submit {
  width: 120px;
  color: #fafafa;
  background-color: #fafafa3f;
}

:host {
  display: block;
}

section {
  margin-top: 100px;
}
.background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background-size: cover;
  opacity: 0.5;
}
.div1{
  background-image: url("https://picsum.photos/id/402/2500/1667")
}
.div2{
  background-image: url("https://picsum.photos/id/301/2500/1667")
}
.div3{
  background-image: url("https://picsum.photos/id/302/2500/1667")
}
.div0{
  background-image: url("https://picsum.photos/id/400/2500/1667")
}

