$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  position: absolute;
  top:0;
  left:0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-handler {
  display: inline-block;
  width: 95vw;

  @include sm {

    width: 80vw;
  }
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  width: 25%;
  z-index: 999;
}

.date-input {
  min-width: 150px !important;
}

.submit {
  width: 120px;
  color: #fafafa;
  background-color: #fafafa3f;
}

:host {
  display: block;
}

section {
  margin-top: 100px;
}
.background {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background-size: cover;
  opacity: 0.8;
  filter:contrast(120%);
}
.div1{
  background-image: url("https://picsum.photos/id/402/2500/1667")
}
.div2{
  background-image: url("https://picsum.photos/id/301/2500/1667")
}
.div3{
  background-image: url("https://images.unsplash.com/photo-1498598457418-36ef20772bb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
}
.div0{
  background-image: url("https://picsum.photos/id/400/2500/1667")
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep .mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(0,0,0, 0.1);
}
