<h1 style="text-align: center; font-size: 45px">Summary Page</h1>
<div fxLayout="row" fxLayoutAlign="space-evenly center" id="Attractions">
  <mat-card>
    <mat-card-title>Attractions</mat-card-title>
    <mat-card-content id="AttractionsList"></mat-card-content>
    <mat-card-actions>
      <button mat-button>MORE DETAIL</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Flights</mat-card-title>
    <mat-card-content id="FlightsData"></mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-card>
    <mat-card-title>API 3</mat-card-title>
    <mat-card-content>Here is the information for API 3</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>API 4</mat-card-title>
    <mat-card-content>Here is the information for API 4</mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-card>
    <mat-card-title>API 5</mat-card-title>
    <mat-card-content>Here is the information for API 5</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>API 6</mat-card-title>
    <mat-card-content>Here is the information for API 6</mat-card-content>
  </mat-card>
</div>

<script src="summary.page.ts"></script>
<!--The code below is from the previous summary page-->
<!--<div *ngFor="let POI of POIs">-->
<!--  <p>{{POI.result_object.name}} : {{POI.result_object.rating}} stars</p>-->
<!--</div>-->
<!--<div *ngFor="let element of forecast">-->
<!--  <p>{{element.dt_txt}} : {{element.main.temp}} degrees</p>-->
<!--</div>-->
