<div id="background" color="primary" [ngStyle]="{'background-image': 'url(' + imageName + ')'}">
  <h1 class="mat-display-3" style="text-align: center; padding-top: 15px; margin-bottom: 10px !important;">Adventure Summary</h1>
  <p style="text-align: center;">Click "More Detail" to find out more about each element of your adventure.</p>
  <div fxLayout="row" fxLayoutAlign="center stretch">
  <div class = "row">
    <div class="column" *ngFor="let image of images">
      <div class="container">
        <img src = "{{image.urls.raw}}"  alt = "{{image.description}}" width=28% height=auto class="image">
        <div class="overlay"><a href = "{{image.urls.raw}}"> {{image.description}}</a> by <a href = "{{image.user.links.html}}"> {{image.user.name}}</a> from <a href = "https://unsplash.com/"> Unsplash </a></div>
      </div>
    </div>
  </div>
  </div>
  <!--City will be a variable
  <a href = "https://unsplash.com/s/photos/<%City%>">More Photos</a>-->

  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="card-container">
      <mat-card-title>Points of Interest</mat-card-title>
      <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Attractions
                </mat-panel-title>
                <mat-panel-description>
                  Best places to visit for your destination
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>
              <div *ngIf="taAttractions.length > 0">
                <div class="sub-expansion-container" fxLayout="column" fxLayoutAlign="space-between" *ngFor="let i of range5">
                  <p><b><a class="website" href={{taAttractions[i].webURL}}>{{taAttractions[i].name}}</a></b></p>
                  <p>{{taAttractions[i].rating}}/5.0</p>
                  <p>{{taAttractions[i].address}}</p>
                </div>
              </div>
              <mat-action-row>
                <a mat-button [routerLink]="['/attractions']" color="primary">More Details</a>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Hotels
                </mat-panel-title>
                <mat-panel-description>
                  Find the best hotels for your destination
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>
              <div *ngIf="taHotels.length > 0">
                <div class="sub-expansion-container" fxLayout="column" fxLayoutAlign="space-between" *ngFor="let i of range5">
                  <p><b><a class="website" href={{taHotels[i].webURL}}>{{taHotels[i].name}}</a></b></p>
                  <p>{{taHotels[i].rating}}/5.0</p>
                  <p>{{taHotels[i].address}}</p>
                </div>
              </div>
              <mat-action-row>
                <button mat-button routerLink="/hotels" color="primary">More Details</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState1 = true"
                                (closed)="panelOpenState1 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Restaurants
                </mat-panel-title>
                <mat-panel-description>
                  Click to {{panelOpenState1 ? 'close' : 'open'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>
              <div *ngIf="taRestaurants.length > 0">
                <div class="sub-expansion-container" fxLayout="column" fxLayoutAlign="space-between" *ngFor="let i of range5">
                  <p><b><a class="website" href={{taRestaurants[i].webURL}}>{{taRestaurants[i].name}}</a></b></p>
                  <p>{{taRestaurants[i].rating}}/5.0</p>
                  <p>{{taRestaurants[i].address}}</p>
                </div>
              </div>
              <mat-action-row>
                <button mat-button [routerLink]="['/restaurants']" color="primary">More Details</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="card-container">
      <mat-card-title>Flights</mat-card-title>
      <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState2 = true"
                                (closed)="panelOpenState2 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Flight time and Prices
                </mat-panel-title>
                <mat-panel-description>
                  Click to {{panelOpenState2 ? 'close' : 'open'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>
              <div class="sub-expansion-container" fxLayout="column" fxLayoutAlign="space-between" id="FlightsData">
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="card-container">
      <mat-card-title>Weather</mat-card-title>
      <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState3 = true"
                                (closed)="panelOpenState3 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Forecast
                </mat-panel-title>
                <mat-panel-description>
                  Click to {{panelOpenState3 ? 'close' : 'open'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-divider></mat-divider>
              <div class="sub-expansion-container" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let day of forecastRange">
                <p>{{dates[day]}}</p>
                <p>{{forecast[day].temp.min}} - {{forecast[day].temp.max}}</p>
                <p>{{forecast[day].weather[0].description}}</p>
                <img height="50px" width="50px" alt="weather icon" src="http://openweathermap.org/img/wn/{{forecast[day].weather[0].icon}}@2x.png">
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/weather" mat-button>MORE DETAIL</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="card-container">
      <mat-card-title>Crime Data</mat-card-title>
      <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState5 = true"
                                (closed)="panelOpenState5 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].name}} Crime Data
                </mat-panel-title>
                <mat-panel-description>
                  Click to {{panelOpenState5 ? 'close' : 'open'}}
                  {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].name}} is rank
                  {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].rank}} for lowest violent crime.
                  {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].name}} is rank
                  {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].rank}} for lowest violent crime.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p class="mat-body" style="font-size: 16px !important;">{{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].name}} is rank
              {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].rank}} for lowest violent crime rate with
              a rate of {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].crime}} people.
              For the entire year of 2018 {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].name}}'s total murder
              count was {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].murders}}. Be wary when going
              to {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].city}} as this is
              {{dataService.stateCrime[mapQuestLocation.results[0].locations[0].adminArea3].name}}'s most dangerous city.</p>
              <!--<div *ngIf="crimeDone">
                <div class="sub-expansion-container" fxLayout="column" *ngFor="let ori of ORIs">
                  <p><b>{{ori}}: {{ORIData[ori].agency_name}}</b></p>
                  <div *ngFor="let elem of ORICrimeData[ori].results" fxLayout="row" fxLayoutAlign="space-between">
                    <p>{{elem.offense}} :</p>
                    <p>Actual = {{elem.actual}},</p>
                    <p>Cleared = {{elem.cleared}}</p>
                  </div>
                </div>
              </div>-->
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/crime" (click)="test()">MORE DETAIL</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card class="card-container">
      <mat-card-title>Images</mat-card-title>
      <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
            <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Images Panel
          </mat-panel-title>
          <mat-panel-description>
            Click here to view photos
          </mat-panel-description>
        </mat-expansion-panel-header>
              <div class="sub-expansion-container" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let image of images">
          <a href = "{{image.urls.raw}}"> {{image.description}}</a><br>
          <img src = "{{image.urls.small}}"  alt = "{{image.description}}" width=50% height=auto><br>
          Photo by <a href = "{{image.user.links.html}}"> {{image.user.name}}</a> from <a href = "https://unsplash.com/"> Unsplash </a>


        <!--City will be a variable
        <a href = "https://unsplash.com/s/photos/<%City%>">More Photos</a>-->
              </div></mat-expansion-panel>
    </mat-accordion>
  </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/photos']" color="primary">More Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <mat-card class="card-container">
            <mat-card-title>Music</mat-card-title>
            <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
              <div fxLayout="row" fxLayoutAlign="center stretch">
                <mat-accordion class="accordion" fxLayout="column" fxLayoutAlign="start center">
                  <mat-expansion-panel fxFlexAlign="stretch" style="margin-bottom: 20px;" (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Music Panel
          </mat-panel-title>
          <mat-panel-description>
            Click here to view songs
          </mat-panel-description>
        </mat-expansion-panel-header>
                    <div class="sub-expansion-container" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let song of music">
                      <p><a href = "{{song.artistViewUrl}}">{{song.artistName}}</a></p>
          <!-- <p>{{song.trackViewUrl}}</p> -->
                      <p><a href = "{{song.collectionViewUrl}}">{{song.trackCensoredName}}</a></p>
          <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="250" style="width:100%;max-width:360px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" [src]='song.trackViewUrl | safe'></iframe>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/music']" color="primary">More Details</button>
            </mat-card-actions>
          </mat-card>
        </div>
</div>



  <!--The code below is from the previous summary page-->
<!--<div *ngFor="let POI of POIs">-->
<!--  <p>{{POI.result_object.name}} : {{POI.result_object.rating}} stars</p>-->
<!--</div>-->
<!--<div *ngFor="let element of forecast">-->
<!--  <p>{{element.dt_txt}} : {{element.main.temp}} degrees</p>-->
<!--</div>-->

