#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f0f0;
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  width: 80vw;
}

.sub-expansion-container {
  margin-bottom: 0px !important;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}
#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f0f0;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 500px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 1); /* Black see-through */
  color: black;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 0.75;
}
.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 33%;
  padding: 0 4px;
}
.accordion {
  width: 80vw;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.sub-expansion-container {
  margin-bottom: 0px !important;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.centered-and-cropped { object-fit: cover }

.imgContainer {
  overflow: hidden;
  width: 500px;
  height: 500px;
}
.imgContainer img {
  width: 500px;
  height: auto;
}

.cover {
  object-fit: cover;
}

.img-cropped {
  object-fit: cover;
  object-position: center center;
  width: 500px;
  height: 500px;
}
