<div id="background" [ngStyle]="{'background-image': ''}">
    <h1 class="mat-display-3" style="text-align: center; padding-top: 15px; margin-bottom: 10px !important;">Attractions</h1>
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-card class="card-container" style="max-width: 75%;" *ngFor="let obj of taAttractionsList">
            <mat-card-title>{{obj.name}}</mat-card-title>
            <mat-card-content style="margin-bottom: 0px !important; margin-top: 20px;">
                <div fxLayout="column" fxLayoutAlign="center">
                    <img src={{obj.photo}} class="image-center">
                    <h3><b>{{obj.address}} | Rating: {{obj.rating}}/5.0</b></h3>
                    <p>{{obj.description}}</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a href={{obj.webURL}} class="website"><button mat-button>MORE DETAIL</button></a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>